{
  "env": {
    "node": true
  },
  "extends": "airbnb-base",
  "ecmaFeatures": {
    "ecmaScript": 8,
    "modules": true
  },
  "rules": {
    "no-use-before-define": [ 2, { "functions": false } ]
  }
}
